!!! 5
html
  head
    title Login UI
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css")
    script(src="pakmanaged.js")
  body
    #css-body-wrapper
      h1.
        Login UI
      .js-authenticated.css-authenticated
        a(href="#login")
          span.js-username-before Not 
          span.js-username johndoe
          span.js-username-after ?
      .js-unauthenticated
        form#js-auth
          input.js-username(name="username", placeholder="i.e. john.doe@example.com")
          input.js-passphrase(name="passphrase", type="password", placeholder="type your passphrase (shown)")
          input.js-passphrase(name="passphrase-hidden", type="text", placeholder="type your passphrase (hidden)")
          span Hide Passphrase 
          input(type="checkbox")
          input(type="submit")
