!!! 5
html
  head
    title Login UI
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="bootstrap/css/bootstrap.css", type="text/css")
    link(rel="stylesheet", href="style.css", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js")
    script(src="bootstrap/js/bootstrap.js")
    script(src="pakmanaged.js")
  body
    #css-body-wrapper
      h1.css-test Login UI
      include loginui

