!!! 5
html
  head
    title Login UI
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    link(rel="stylesheet", href="style.css", type="text/css")
    script(src="pakmanaged.js")
  body
    #css-body-wrapper
      h1 Login UI
      .js-authenticated.css-authenticated
        span.js-guest
          span Welcome 
          span.js-nickname Guest00000000
          span !
          span   
        a.js-authenticated-user.js-logout(href="#logout")
          span.js-nickname-pad Not 
          span.js-nickname John Doe
          span.js-nickname-pad ?
        span   
        a.js-show-login.js-guest(href="#") Login
        span   
        a.js-show-signup.js-guest(href="#") Create Account
        span  
        button.js-close-signup-login X
      .js-unauthenticated
        div.js-login-container
          form#js-login#js-auth
            input.js-username(name="username", placeholder="i.e. john.doe or john.doe@example.com")
            input.js-passphrase.js-password(name="passphrase", type="password", placeholder="type your passphrase (shown)")
            input.js-passphrase.js-nopassword(name="passphrase-hidden", type="text", placeholder="type your passphrase (hidden)")
            span Hide Passphrase 
            input.js-hide-passphrase(type="checkbox")
            input(type="submit", data-action="login", value='Login')
            a(href="#iforgot") Forgot Passphrase?
        div.js-signup-container
          form#js-signup
            input.js-username(name="username", placeholder="i.e. john.doe")
            input.js-email(type='email', name="email", placeholder="i.e. john.doe@example.com")
            input.js-nickname(type='text', name="nickname", placeholder="i.e. John Doe")
            input.js-passphrase.js-password(name="passphrase", type="password", placeholder="type your passphrase (shown)")
            input.js-passphrase.js-nopassword(name="passphrase-hidden", type="text", placeholder="type your passphrase (hidden)")
            span Hide Passphrase 
            input.js-hide-passphrase(type="checkbox")
            input.js-signup-submit(type="submit", data-action="signup", value='Create Account')
